<div class="container-fluid area">

    <router-outlet></router-outlet>

    <!-- ACTIVAR POSTERIORMENTE PARA NO PETAR -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>


    <app-footer-cliente></app-footer-cliente>
</div>
